<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="../style/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <div class="main">
      <div class="container">
        <h1>Zona de conforto nerd</h1>
        <p>Velha para o lado nerd da força.</p>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <h2>Filmes</h2>
          <p>Os melhores filmes do momento.</p>
        </div>
        <div class="col">
          <h2>Séries</h2>
          <p>Aquela série para maratonar.</p>
        </div>
        <div class="col">
          <h2>Games</h2>
          <p>Sempre ligado nos melhores lançamentos.</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h2>Resenhas de bons e nem tão bons livros.</h2>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>Siga-nos no Facebook</h2>
        <a class="btn" target="_blank" href="https://www.facebook.com/">Facebook</a>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Informações sobre a desenvolvedora</h2>
        <a class="btn" target="_blank" href="https://www.linkedin.com/in/vivianny-santos-258131113/">Linkedin</a>
      </div>
    </div>

  </body>
</html>
